# Continuous integration
**/c.out
**/tm-coverage.html
**/tm-unit-tests.xml

# Editors and IDEs
*.swp
*~
/*.sublime-project
/.vscode/

# Build artifacts
tm
tm-darwin-amd64
tm-linux-amd64
tm-windows-amd64.exe
